#about {
	background-color: $black;
	color: $white;

	.container {
		height: calc(100% - 90px);
		margin-top: 90px;
		position: relative;

		.image {
			width: 40%;
			height: 100%;
			float: left;
			position: relative;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 60%;
				@include transform(translate(-50%, -50%));
				border-radius: 100%;
			}
		}

		.info {
			width: 52%;
			height: 100%;
			float: left;
			position: relative;
			text-align: left;

			.wrapper {
				position: absolute;
				top: 50%;
				@include transform(translateY(-50%));
				line-height: 1.4rem;

				.header {
					font-size: 2rem;
					font-weight: 600;
				}

				.experience {
					margin-bottom: 60px;
				}
			}
		}
	}

	@include media(4) {

		.container {
			height: auto;
			margin: 150px 0 150px;

			.image, .info {
				width: 100%;
				height: auto;
				float: none;
			}

			.image {
				text-align: center;
				margin-bottom: 150px;

				img {
					position: static;
					@include transform(none);
				}
			}

			.info {
				width: 80%;
				margin-left: 10%;
				text-align: right;

				.wrapper {
					position: static;
					@include transform(none);
					line-height: 3.2rem;

					.header {
						font-size: 3.6rem;
					}

					.experience, .skills {
						font-size: 1.2rem;
					}

					.experience .sub-header {
						font-size: 2.4rem;
					}
				}
			}
		}
	}
}