@mixin media($breakpoint) {
	@if $breakpoint == 1 {
		@media screen and (max-width: 1000px) {
			@content;
		}
	}	
	@else if $breakpoint == 2 {
		@media screen and (max-width: 900px) {
			@content;
		}
	}
	@else if $breakpoint == 3 {
		@media screen and (max-width: 777px) {
			@content;
		}
	}
	@else if $breakpoint == 4 {
		@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2), //iPhone 4/4s
			   screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2), //iPhone 5/5s
			   screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2), //iPhone 6
			   screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3), //iPhone 6+
			   screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2),			//Galaxy S3
			   screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3),			//Galaxy S4
			   screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3),			//Galaxy S5
			   screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)	{			//HTC One
			@content;
		}
	}
}

@mixin keyframes($name) {
	@-o-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@-webkit-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

$all-prefixes: "-o-", "-moz-", "-ms-", "-webkit-", "";

@mixin prefix($property, $value, $prefixes: $all-prefixes) {
	@if(type-of($value) == arglist) {
		$stringValue: "";
		@each $v in $value {
			$stringValue: if($stringValue == "", $v, $stringValue + ", " + $v);
		}
		$value: $stringValue;
	}
	@each $prefix in $prefixes {
		#{$prefix}#{$property}: #{if(str-index(inspect($value), "transform") != null, $prefix, "")}#{$value};
	}
}

@mixin transform($value) {
	@include prefix("transform", $value);
}

@mixin transform-origin($value) {
	@include prefix("transform-origin", $value);
}

@mixin transition($value...) {
	@include prefix("transition", $value, ("-o-", "-moz-", "-webkit-", ""));
}

* {
	margin: 0;
}

html {
	font-size: 16px;
}

p, label, pre, noscript {
	font-family: "Menlo", "Lucida Console", monospace;
	//font-family: "museo-nova";
}

section, input, textarea {
	font-family: "inconsolata";
}

input, textarea {
	border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.mobile {
	display: none !important;
}

@include media(4) {
	
	.desktop {
		display: none !important;
	}
}