body {
	background-color: $white;
	overflow: hidden;
}

$panels: 4;
.panel {
	position: fixed;
	top: 100%;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	transition: top 0.5s ease-in-out;

	@for $i from 0 through $panels {
		&[data-page="#{$i}"] {
			z-index: $i;
		}
	}

	&.top {
		top: 0;
	}
}

.arrow {
	position: fixed;
	left: 50%;
	bottom: -10px;
	-webkit-transform: scale(-1) translateX(50%);
	transform: scale(-1) translateX(50%);
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	z-index: $panels + 1;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease-in-out;
	-webkit-animation: bob 1.25s infinite ease-in-out;
	animation: bob 1.25s infinite ease-in-out;
	cursor: pointer;

	span {
		position: relative;
		bottom: 0;
	}

	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	@include keyframes(bob) {
		0% {
			bottom: -10px;
		}
		50% {
			bottom: 25px;
		}
		100% {
			bottom: -10px;
		}
	}
}