body {
	background-color: $white;
	overflow: hidden;
}

$panels: 4;
.panel {
	position: fixed;
	top: 100%;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	transition: top 0.5s ease-in-out;

	@for $i from 0 through $panels {
		&[data-page="#{$i}"] {
			z-index: $i;
		}
	}

	&.top {
		top: 0;
	}
}