#header {
	position: fixed;
	top: 0;
	width: calc(100% - 40px);
	height: 50px;
	padding: 20px;
	background-color: $white;
	z-index: 101;

	.logo {
		font-size: 2rem;
		line-height: 50px;
		color: $black;

		span {
			display: inline-block;
			vertical-align: top;

			&.logo-expand {
				width: 20px;
				overflow: hidden;
			}
		}
	}

	.header-items {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.25s ease-in-out;

		p {
			display: inline-block;
			color: $black;
			line-height: 90px;
			margin: 0 20px;
			font-size: 1.25rem;

			.page-select {
				cursor: pointer;

				&:hover + .page-select-border {
					width: 100%;
				}
			}

			.page-select-border {
				display: block;
				width: 0;
				height: 1px;
				position: relative;
				top: -25px;
				background-color: $black;
				transition: width 0.25s ease-in-out, height 0.25s;

				&.active {
					width: 100%;
					height: 3px !important;
				}
			}

			svg {
				position: relative;
				top: 17px;
				width: 50px;
				height: 50px;
				cursor: pointer;

				*:not(circle) {
					fill: $black;
					transition: fill 0.1s ease-in-out;
				}

				circle {
					fill: $white;
					transition: fill 0.1s ease-in-out;
				}

				&:hover {

					*:not(circle) {
						fill: $white;
					}

					circle {
						fill: $black;
					}
				}
			}
		}

		&.active {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&.border {
		border-bottom: 3px solid $black;
	}
}
	
#bracket {
	position: fixed;
	right: 0;
	width: 50px;
	height: 50px;
	font-size: 2rem;
	line-height: 50px;
	z-index: 102;
	transform: translateY(calc(100vh - 70px));
	transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);

	&.top {
		transform: translateY(20px);
	}
}