#intro {
	background-color: $white;

	.tagline {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.arrow {
		position: absolute;
		bottom: -10px;
		left: 50%;
		-webkit-transform: scale(-1) translateX(50%);
		transform: scale(-1) translateX(50%);
		width: 100px;
		height: 100px;
		text-align: center;
		line-height: 100px;
		z-index: 1;
		transition: opacity 0.5s ease-in-out;
		-webkit-animation: bob 1.25s infinite ease-in-out;
		animation: bob 1.25s infinite ease-in-out;

		span {
			position: relative;
			bottom: 0;
		}

		&:hover {
			cursor: pointer;
		}

		@include keyframes(bob) {
			0% {
				bottom: -10px;
			}
			50% {
				bottom: 25px;
			}
			100% {
				bottom: -10px;
			}
		}
	}

	.background-text {
		margin-top: 100px;
		height: calc(100% - 200px);
	}

	@include media(4) {
		height: 100vh;
		position: relative;

		.tagline {
			font-size: 2.4rem;
		}

		.background-text {
			display: block !important;
			left: -10%;
			width: 120%;
			margin: 0;
			font-size: 2rem;

			&.b0 {
				height: calc(50% - 160px);
				margin-top: 160px;
			}

			&.b1 {
				top: 50%;
				height: calc(50% - 5px);
				margin-top: 5px;
			}
		}
	}
}